body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.header-wrapper {
  background-color: lightgray;
  max-width: 1800px;
  margin: auto;
  height: 110px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-middle {
  display: flex;
  gap: 30px;
  list-style: none;
  color: #575757;
  font-size: 1.1rem;
}

.register-btn {
  background-color: #1d4ed8;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 44px;
  border: none;
  border-radius: 10px;
  color: white;
}
