body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

/* navbar CSS start */
.header-wrapper {
  max-width: 1700px;
  margin: auto;
  height: 12vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-middle {
  display: flex;
  gap: 30px;
  list-style: none;
  color: #575757;
  font-size: 1.1rem;
}

.register-btn {
  background-color: #1d4ed8;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 44px;
  border: none;
  border-radius: 10px;
  color: white;
}
/* navbar CSS start */

/* banner css start */

.hero-section {
  height: 88vh;

  background:
    linear-gradient(to left, transparent, rgba(0, 0, 0, 0.8)),
    url(./assets/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  margin: auto;
  max-width: 900px;
  height: 100%;

  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content h2 {
  font-size: 80px;
  margin-bottom: 5px;
}

.hero-content .connect {
  font-style: italic;
}

.hero-content p {
  max-width: 780px;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  margin-top: 5px;
}

.hero-content > button {
  color: white;
  background-color: #1d4ed8;

  font-size: 22px;
  font-weight: 700;

  padding: 24px 70px;
  border: none;
  border-radius: 10px;

  margin-top: auto;
  margin-bottom: 45px;
}
/* banner css end */
